footer.footer
    .container
        .footer__inner
            .footer__col
                a(href="#").header__logo
                    img(src="images/logo/icon.svg", alt="logo")
            .footer__col
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link
                            p Voice over and Subtitle
                    li.footer__item
                        a(href="#").footer__link
                            p Media Center
                    li.footer__item
                        a(href="#").footer__link
                            p Privacy
                    li.footer__item
                        a(href="#").footer__link
                            p Contact us

            .footer__col
                ul.footer__list 
                    li.footer__item
                        a(href="#").footer__link
                            p Voice Description
                    li.footer__item
                        a(href="#").footer__link
                            p Investor Relations
                    li.footer__item
                        a(href="#").footer__link
                            p Legal Provisions

            .footer__col
                ul.footer__list 
                    li.footer__item
                        a(href="#").footer__link
                            p Help Center
                    li.footer__item
                        a(href="#").footer__link
                            p Job Opportunities
                    li.footer__item
                        a(href="#").footer__link
                            p Cookies Preferences

            .footer__col
                ul.footer__list 
                    li.footer__item
                        a(href="#").footer__link
                            p Gift Cards
                    li.footer__item
                        a(href="#").footer__link
                            p Terms of Use
                    li.footer__item
                        a(href="#").footer__link
                            p Corporate Informations




