footer.footer
    .container
        .footer__inner
            .footer__col
                a(href="#")
                    img(src="../../images/logo/Logo.svg", alt="Logo")
            .footer__col
                a.footer__link
                    p Voice over and Subtitle
                a.footer__link
                    p Media Center
                a.footer__link
                    p Privacy
                a.footer__link
                    p Contact us

            .footer__col
                a.footer__link
                    p Voice Description
                a.footer__link
                    p Investor Relations
                a.footer__link
                    p Legal Provisions

            .footer__col
                a.footer__link
                    p Help Center
                a.footer__link
                    p Job Opportunities
                a.footer__link
                    p Cookies Preferences

            .footer__col
                a.footer__link
                    p Gift Cards
                a.footer__link
                    p Terms of Use
                a.footer__link
                    p Corporate Informations




