header.header
    .container
        .header__inner
            a.logo
                img(src="images/logo/logo.svg" alt="Logo")

            nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#").active Home 
                    li.nav__item
                        a.nav__link(href="#") TV Shows
                    li.nav__item
                        a.nav__link(href="#") Movies
                    li.nav__item
                        a.nav__link(href="#") Series 
            
            ul.control
                li.control__item
                    button.control__item(href="#")
                        <i class="fas fa-search"></i>
                    button.control__item(href="#") 
                        <i class="fas fa-bell"></i>
                    button.control__item(href="#") 
                        <i class="fas fa-user"></i>
            