header.header(data-aos="fade-down")
    .container
        .header__inner
            a(href="#").header__logo
                img(src="images/logo/icon.svg" alt="logo")

            
            nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#", data-target="#banner").active Home 
                    li.nav__item
                        a.nav__link(href="#", data-target="#tv-shows") TV Shows
                    li.nav__item
                        a.nav__link(href="#", data-target="#movies") Movies
                    li.nav__item
                        a.nav__link(href="#") Series 
                
            .control 
                ul.control__list
                    li.control__item.control__item--search
                        button.btn.btn--empty
                            <i class="fas fa-search"></i>
                    li.control__item.control__item--notify
                        button.btn.btn--empty
                            <i class="far fa-bell"></i>
                    li.control__item.control__item--lk
                        button.btn.btn--empty
                            <i class="far fa-user"></i>

            button.burger
                span.burger__item 
                span.burger__item 
                span.burger__item 

            