.control{
    &__list{
        display: flex;
    }
    &__item{
        margin-right: 75px;

        &:last-child{
            margin-right: 0;
        }

        .btn{
            transition: all .2s linear;
        }

        .btn:hover{
            color: $outline;
        }
    }

    // MEDIA
    @media (max-width: $tablet){
        display: none;

        &.active{
            display: block;

            .control__list{
                flex-direction: column;
            }

            .control__item{
                font-size: 30px;
                margin-bottom: 40px;
                
                font-weight: 700;
                text-align: center;
                margin-right: 0;
                position: relative;

                &:last-child{
                    margin-bottom: 0;
                }

                &::after{
                    display: inline-block;
                    font-size: 30px;
                    color: rgba(#fff, .5);
                    font-weight: 700;
                }

                &--search::after{
                    content: 'Search';
                }
                &--notify::after{
                    content: 'Notifications';
                }
                &--lk::after{
                    content: 'Sign in';
                }
            }

            .btn{
                color: rgba(#fff, .5);
            }

        }
    }

    @media (min-width: 0) and (max-width: $mobile-landscape) {
        &.active{
            .control__item{
                font-size: 20px;
            }

            .control__item::after{
                font-size: 20px;
            }
        }
    }
}