.control{
    &__item{
        font-size: 16px;
        color: #fff;
        background: none;
        border: none;
        margin-right: 50px;
        transition: color .2s linear;

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            color: #326CFF;
        }
    }

    // MEDIA
    @media (max-width: $tablet){
        display: none;
    }
}