.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: $primary;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    
    &__logo{
        display: block;
    }

    // MEDIA
    @media (max-width: $tablet){
        &__logo{
            img{
                width: 100px;
            }
        }

        &.active{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;

            opacity: 1;
            background-color: $primary;
            
            .header__inner{
                height: 100vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                overflow: auto;
            }

            .header__logo{
                position: absolute;
                top: 15px;
                left: 20px;
                z-index: 11;
            }
        }
    }

    @media (min-width: 0) and (max-width: $mobile-landscape) and (orientation: landscape){
        &.active .header__inner{
            justify-content: flex-start;
        }
    }
}