.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    // MEDIA
    @media (max-width: $tablet){
        
    }
}