extends ../layout/default.pug

block title
    title M-Box Online TV

block content
    .banner#banner
        .container 
            .banner__inner
                .banner__text-block-wrapper
                    .banner__text-block(data-aos="fade-right")
                        h1.banner__title Zack Snyder's Justice League
                        .banner-info
                            span.banner-info__year 2021
                            span.banner-info__age 18+
                            span.banner-info__time 4h 2min
                            span.banner-info__rating 8.8
                                <i class="fas fa-star"></i>
                        p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                        .banner__btns
                            button.btn.btn--blue.btn--wi 
                                <i class="fas fa-play"></i> Watch
                            button.btn.btn--white More information

    //- TV shows
    section.section#tv-shows
        .container
            .section__inner 
                h2.section__title(data-aos="slide-left")
                    a(href="#") Trending TV Shows
                        <i class="fal fa-chevron-right"></i>
                        
                .section__content
                    ul.section__list
                        li.section__item(data-aos="fade-up", data-aos-delay="100")
                            a(href="#").section__link
                                img(src="images/shows/1.jpg", alt="After")
                        li.section__item(data-aos="fade-up", data-aos-delay="200")
                            a(href="#").section__link
                                img(src="images/shows/2.jpg", alt="Emancipation")
                        li.section__item(data-aos="fade-up", data-aos-delay="300")
                            a(href="#").section__link
                                img(src="images/shows/3.jpg", alt="The enormity of live")
                        li.section__item(data-aos="fade-up", data-aos-delay="400")
                            a(href="#").section__link
                                img(src="images/shows/4.jpg", alt="Vinitas")
                        li.section__item(data-aos="fade-up", data-aos-delay="500")
                            a(href="#").section__link
                                img(src="images/shows/5.jpg", alt="Something like perfect")
                        li.section__item(data-aos="fade-up", data-aos-delay="600")
                            a(href="#").section__link
                                img(src="images/shows/6.jpg", alt="Dunkirk")


    //- Movies
    section.section#movies
        .container
            .section__inner 
                h2.section__title(data-aos="slide-left")
                    a(href="#") Trending Movies 
                        <i class="fal fa-chevron-right"></i>
                        
                .section__content
                    ul.section__list
                        li.section__item(data-aos="fade-up", data-aos-delay="100")
                            a(href="#").section__link
                                img(src="images/movies/1.jpg", alt="Maturing youth")
                        li.section__item(data-aos="fade-up", data-aos-delay="200")
                            a(href="#").section__link
                                img(src="images/movies/2.jpg", alt="Leap year")
                        li.section__item(data-aos="fade-up", data-aos-delay="300")
                            a(href="#").section__link
                                img(src="images/movies/3.jpg", alt="The curse of oak island")
                        li.section__item(data-aos="fade-up", data-aos-delay="400")
                            a(href="#").section__link
                                img(src="images/movies/4.jpg", alt="Street legal")
                        li.section__item(data-aos="fade-up", data-aos-delay="500")
                            a(href="#").section__link
                                img(src="images/movies/5.jpg", alt="Interlock")
                        li.section__item(data-aos="fade-up", data-aos-delay="600")
                            a(href="#").section__link
                                img(src="images/movies/6.jpg", alt="The black echo")

                button.btn.btn--blue See more
    
    //- Genres
    section.section
        .container
            .section__inner 
                h2.section__title(data-aos="slide-left")
                    a(href="#") Popular Genres
                        <i class="fal fa-chevron-right"></i>
                        
                .section__content
                    .genres
                        ul.genres__list
                            li.genres__item.genres__item--romance(data-aos="zoom-in", data-aos-delay="100")
                                a(href="#")
                                    img(src="images/genres/icons/hearts.svg", alt="Romance")
                                    h3.genres__item-title Romance
                            li.genres__item.genres__item--drama(data-aos="zoom-in", data-aos-delay="200")
                                a(href="#")
                                    img(src="images/genres/icons/cinema.svg", alt="Drama")
                                    h3.genres__item-title Drama
                            li.genres__item.genres__item--historical(data-aos="zoom-in", data-aos-delay="300")
                                a(href="#")
                                    img(src="images/genres/icons/documentary.svg", alt="Historical")
                                    h3.genres__item-title Historical
                            li.genres__item.genres__item--action(data-aos="zoom-in", data-aos-delay="400")
                                a(href="#")
                                    img(src="images/genres/icons/killer.svg", alt="Action")
                                    h3.genres__item-title Action
                            li.genres__item.genres__item--sci-fi(data-aos="zoom-in", data-aos-delay="500")
                                a(href="#")
                                    img(src="images/genres/icons/rocket.svg", alt="Sci-fi")
                                    h3.genres__item-title Sci-fi
                            li.genres__item.genres__item--horror(data-aos="zoom-in", data-aos-delay="600")
                                a(href="#")
                                    img(src="images/genres/icons/ghost.svg", alt="Horror")
                                    h3.genres__item-title Horror
                            li.genres__item.genres__item--comedy(data-aos="zoom-in", data-aos-delay="700")
                                a(href="#")
                                    img(src="images/genres/icons/smile.svg", alt="Comedy")
                                    h3.genres__item-title Comedy
                            li.genres__item.genres__item--documentary(data-aos="zoom-in", data-aos-delay="800")
                                a(href="#")
                                    img(src="images/genres/icons/castle.svg", alt="Documentary")
                                    h3.genres__item-title Documentary
    
    //- Movies
    section.section
        .container
            .section__inner 
                h2.section__title(data-aos="slide-left")
                    a(href="#") Popular Actors & Directors
                        <i class="fal fa-chevron-right"></i>
                        
                .section__content(data-aos="slide-left")
                    .people
                        ul.people__list
                            li.people__person
                                a(href="#")
                                    img(src="images/people/1.jpg", alt="Samantha Bowen")
                                    p.people__person-name Samantha Bowen
                            li.people__person
                                a(href="#")
                                    img(src="images/people/2.jpg" alt="Rhys Birch")
                                    p.people__person-name Rhys Birch
                            li.people__person
                                a(href="#")
                                    img(src="images/people/3.jpg", alt="James Holloway")
                                    p.people__person-name James Holloway
                            li.people__person
                                a(href="#")
                                    img(src="images/people/4.jpg", alt="Joshua Walton")
                                    p.people__person-name Joshua Walton
                            li.people__person
                                a(href="#")
                                    img(src="images/people/5.jpg", alt="Patrick Elliott")
                                    p.people__person-name Patrick Elliott
                            li.people__person
                                a(href="#")
                                    img(src="images/people/6.jpg", alt="Morgan O'Neill")
                                    p.people__person-name Morgan O'Neill

    //- announcement
    .announce(data-aos="fade-down")
        .container
            a(href="#").announce__inner 
                img(src="images/announcement/img.jpg", alt="Annoucement").announce__image-block
                .announce__text-block
                    img(src="images/announcement/icon.png", alt="2021")
                    p.announce__text Coming Soon
    
    //- offer
    .offer(data-aos="fade-up")
        .container 
            .offer__inner 
                h2.offer__title Are You New Here? <br/> Don’t wait, Register Now.
                button.btn.btn--blue Register now