extends ../layout/default.pug

block content
    .banner
        .container 
            .banner__inner
                .banner__text-block
                    h1.banner__title Zack Snyder's Justice League
                    .banner-info
                        span.banner-info__year 2021
                        span.banner-info__age 18+
                        span.banner-info__time 4h 2min
                        span.banner-info__rating 8.8
                            <i class="fas fa-star"></i>
                    p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
                    .banner__btns
                        button.btn.btn--blue 
                            <i class="fas fa-play"></i> Watch
                        button.btn.btn--white More information
