@font-face{
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/marcellus/Marcellus-Regular.ttf") format("truetype");
}

@font-face{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/mulish/Mulish-ExtraBold.ttf") format("truetype");
}