// colors
$primary: #010101;
$gradient: linear-gradient(to right bottom, #326CFF, #26FFF2);
$gradient-darken: linear-gradient(to right bottom, darken(#326CFF, 20), darken(#26FFF2, 20));
$outline: #2CB7F8;

// media queries
$desktop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 480px;
$mobile-landscape: 850px;
$mobile-sm: 360px;
$mobile-sm-landscape: 650px;